<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="course">
      <h2 data-cy="courseDetailsHeading"><span jhiTranslate="myblogApp.course.detail.title">Course</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.course.prix">Prix</span></dt>
        <dd>
          <span>{{ course.prix }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.course.distance">Distance</span></dt>
        <dd>
          <span>{{ course.distance }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.course.livreur">Livreur</span></dt>
        <dd>
          <div *ngIf="course.livreur">
            <a [routerLink]="['/livreur', course.livreur?.id, 'view']">{{ course.livreur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
