<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="commande">
      <h2 data-cy="commandeDetailsHeading"><span jhiTranslate="myblogApp.commande.detail.title">Commande</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commande.id }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.commande.date">Date</span></dt>
        <dd>
          <span>{{ commande.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.commande.prix">Prix</span></dt>
        <dd>
          <span>{{ commande.prix }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.commande.client">Client</span></dt>
        <dd>
          <div *ngIf="commande.client">
            <a [routerLink]="['/client', commande.client?.id, 'view']">{{ commande.client?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myblogApp.commande.course">Course</span></dt>
        <dd>
          <div *ngIf="commande.course">
            <a [routerLink]="['/course', commande.course?.id, 'view']">{{ commande.course?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myblogApp.commande.restaurant">Restaurant</span></dt>
        <dd>
          <div *ngIf="commande.restaurant">
            <a [routerLink]="['/restaurant', commande.restaurant?.id, 'view']">{{ commande.restaurant?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myblogApp.commande.plat">Plat</span></dt>
        <dd>
          <div *ngIf="commande.plat">
            <a [routerLink]="['/plat', commande.plat?.id, 'view']">{{ commande.plat?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/commande', commande.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
