<div>
  <h2 id="page-heading" data-cy="CommandeHeading">
    <span jhiTranslate="myblogApp.commande.home.title">Commandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myblogApp.commande.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commande"
        [routerLink]="['/commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myblogApp.commande.home.createLabel"> Create a new Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
    <span jhiTranslate="myblogApp.commande.home.notFound">No commandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.commande.date">Date</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.commande.prix">Prix</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.commande.client">Client</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.commande.course">Course</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.commande.restaurant">Restaurant</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.commande.plat">Plat</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/commande', commande.id, 'view']">{{ commande.id }}</a>
          </td>
          <td>{{ commande.date | formatMediumDate }}</td>
          <td>{{ commande.prix }}</td>
          <td>
            <div *ngIf="commande.client">
              <a [routerLink]="['/client', commande.client?.id, 'view']">{{ commande.client?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="commande.course">
              <a [routerLink]="['/course', commande.course?.id, 'view']">{{ commande.course?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="commande.restaurant">
              <a [routerLink]="['/restaurant', commande.restaurant?.id, 'view']">{{ commande.restaurant?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="commande.plat">
              <a [routerLink]="['/plat', commande.plat?.id, 'view']">{{ commande.plat?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(commande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
