<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="coopnational">
      <h2 data-cy="coopnationalDetailsHeading"><span jhiTranslate="myblogApp.coopnational.detail.title">Coopnational</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myblogApp.coopnational.id">Id</span></dt>
        <dd>
          <span>{{ coopnational.id }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.coopnational.name">Name</span></dt>
        <dd>
          <span>{{ coopnational.name }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.coopnational.cooplocal">Cooplocal</span></dt>
        <dd>
          <div *ngIf="coopnational.cooplocal">
            <a [routerLink]="['/cooplocal', coopnational.cooplocal?.id, 'view']">{{ coopnational.cooplocal?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coopnational', coopnational.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
